In [130]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
df = pd.read_csv("C:/Users/matthewthomas/US_AQI.csv")

In [131]:
df.shape

(5617325, 15)

In [132]:
df = df[::5]
df.shape

(1123465, 15)

In [133]:
df.head()

,Unnamed: 0,CBSA Code,Date,AQI,Category,Defining Parameter,Number of Sites Reporting,city_ascii,state_id,state_name,lat,lng,population,density,timezone
0,0,10140,2022-01-01,21,Good,PM2.5,2,Aberdeen,WA,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
5,5,10140,2022-01-06,15,Good,PM2.5,2,Aberdeen,WA,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
10,10,10140,2022-01-11,20,Good,PM2.5,2,Aberdeen,WA,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
15,15,10140,2022-01-16,18,Good,PM2.5,2,Aberdeen,WA,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
20,20,10140,2022-01-21,13,Good,PM2.5,2,Aberdeen,WA,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles

In [134]:
df.columns

Index(['Unnamed: 0', 'CBSA Code', 'Date', 'AQI', 'Category',
       'Defining Parameter', 'Number of Sites Reporting', 'city_ascii',
       'state_id', 'state_name', 'lat', 'lng', 'population', 'density',
       'timezone'],
      dtype='object')

In [135]:
df.drop(["Unnamed: 0", "CBSA Code", "Category",'city_ascii', "Number of Sites Reporting", "state_id", "timezone"], axis = 1, inplace = True)

In [136]:
df.columns

Index(['Date', 'AQI', 'Defining Parameter', 'state_name', 'lat', 'lng',
       'population', 'density'],
      dtype='object')

In [137]:
import datetime as dt

df['Date'] = pd.to_datetime(df['Date'])
df['Date'] = (df['Date'] - dt.datetime(1970,1,1)).dt.total_seconds()

In [138]:
df = df[['Date', 'Defining Parameter', 'state_name', 'lat',
       'lng', 'population', 'density', "AQI"]]
X = df.iloc[:, 0:7].values
y = df.iloc[:, 7].values
print(pd.DataFrame(X[:10]))
print(pd.DataFrame(y[:10]))

              0      1           2        3         4         5       6
0  1640995200.0  PM2.5  Washington  46.9757 -123.8094   16571.0   588.0
1  1641427200.0  PM2.5  Washington  46.9757 -123.8094   16571.0   588.0
2  1641859200.0  PM2.5  Washington  46.9757 -123.8094   16571.0   588.0
3  1642291200.0  PM2.5  Washington  46.9757 -123.8094   16571.0   588.0
4  1642723200.0  PM2.5  Washington  46.9757 -123.8094   16571.0   588.0
5  1643155200.0  PM2.5  Washington  46.9757 -123.8094   16571.0   588.0
6  1643587200.0  PM2.5  Washington  46.9757 -123.8094   16571.0   588.0
7  1641340800.0  PM2.5        Ohio  41.0798  -81.5219  570375.0  1230.0
8  1641772800.0  PM2.5        Ohio  41.0798  -81.5219  570375.0  1230.0
9  1642204800.0  PM2.5        Ohio  41.0798  -81.5219  570375.0  1230.0
    0
0  21
1  15
2  20
3  18
4  13
5  28
6  18
7  30
8  20
9  17

In [139]:
df.dtypes

Date                  float64
Defining Parameter     object
state_name             object
lat                   float64
lng                   float64
population            float64
density               float64
AQI                     int64
dtype: object

In [140]:
df.dtypes

Date                  float64
Defining Parameter     object
state_name             object
lat                   float64
lng                   float64
population            float64
density               float64
AQI                     int64
dtype: object

In [141]:
df.head()

,Date,Defining Parameter,state_name,lat,lng,population,density,AQI
0,1.640995e+09,PM2.5,Washington,46.9757,-123.8094,16571.0,588.0,21
5,1.641427e+09,PM2.5,Washington,46.9757,-123.8094,16571.0,588.0,15
10,1.641859e+09,PM2.5,Washington,46.9757,-123.8094,16571.0,588.0,20
15,1.642291e+09,PM2.5,Washington,46.9757,-123.8094,16571.0,588.0,18
20,1.642723e+09,PM2.5,Washington,46.9757,-123.8094,16571.0,588.0,13

In [142]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [143]:
print(pd.DataFrame(X[:3]))

              0      1           2        3         4        5      6
0  1640995200.0  PM2.5  Washington  46.9757 -123.8094  16571.0  588.0
1  1641427200.0  PM2.5  Washington  46.9757 -123.8094  16571.0  588.0
2  1641859200.0  PM2.5  Washington  46.9757 -123.8094  16571.0  588.0

In [144]:
ct = ColumnTransformer([("Defining Parameter", OneHotEncoder(), [1])], remainder = 'passthrough', sparse_threshold=0)
X = ct.fit_transform(X)
print(pd.DataFrame(X[:10]))

    0    1    2    3    4             5           6        7         8   \
0  0.0  0.0  0.0  0.0  1.0  1640995200.0  Washington  46.9757 -123.8094
1  0.0  0.0  0.0  0.0  1.0  1641427200.0  Washington  46.9757 -123.8094
2  0.0  0.0  0.0  0.0  1.0  1641859200.0  Washington  46.9757 -123.8094
3  0.0  0.0  0.0  0.0  1.0  1642291200.0  Washington  46.9757 -123.8094
4  0.0  0.0  0.0  0.0  1.0  1642723200.0  Washington  46.9757 -123.8094
5  0.0  0.0  0.0  0.0  1.0  1643155200.0  Washington  46.9757 -123.8094
6  0.0  0.0  0.0  0.0  1.0  1643587200.0  Washington  46.9757 -123.8094
7  0.0  0.0  0.0  0.0  1.0  1641340800.0        Ohio  41.0798  -81.5219
8  0.0  0.0  0.0  0.0  1.0  1641772800.0        Ohio  41.0798  -81.5219
9  0.0  0.0  0.0  0.0  1.0  1642204800.0        Ohio  41.0798  -81.5219

         9       10
0   16571.0   588.0
1   16571.0   588.0
2   16571.0   588.0
3   16571.0   588.0
4   16571.0   588.0
5   16571.0   588.0
6   16571.0   588.0
7  570375.0  1230.0
8  570375.0  1230.0
9  570375.0  1230.0

In [145]:
df.dtypes

Date                  float64
Defining Parameter     object
state_name             object
lat                   float64
lng                   float64
population            float64
density               float64
AQI                     int64
dtype: object

In [146]:
ct = ColumnTransformer([("state_name", OneHotEncoder(), [6])], remainder = 'passthrough', sparse_threshold=0)
X = ct.fit_transform(X)
print(pd.DataFrame(X[:10]))

    0    1    2    3    4    5    6    7    8    9   ...   52   53   54   55  \
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
5  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
6  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
7  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
8  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
9  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0

    56            57       58        59        60      61
0  1.0  1640995200.0  46.9757 -123.8094   16571.0   588.0
1  1.0  1641427200.0  46.9757 -123.8094   16571.0   588.0
2  1.0  1641859200.0  46.9757 -123.8094   16571.0   588.0
3  1.0  1642291200.0  46.9757 -123.8094   16571.0   588.0
4  1.0  1642723200.0  46.9757 -123.8094   16571.0   588.0
5  1.0  1643155200.0  46.9757 -123.8094   16571.0   588.0
6  1.0  1643587200.0  46.9757 -123.8094   16571.0   588.0
7  1.0  1641340800.0  41.0798  -81.5219  570375.0  1230.0
8  1.0  1641772800.0  41.0798  -81.5219  570375.0  1230.0
9  1.0  1642204800.0  41.0798  -81.5219  570375.0  1230.0

[10 rows x 62 columns]

In [147]:
df.nunique()

Date                  15486
Defining Parameter        5
state_name               52
lat                     670
lng                     671
population              669
density                 534
AQI                     460
dtype: int64

In [148]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [149]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [150]:
from tensorflow.keras.models import Sequential # For building the Neural Network layer by layer
from tensorflow.keras.layers import Dense # To randomly initialize the weights to small numbers close to 0(But not 0)

In [164]:
classifier = Sequential()

In [165]:
classifier.add(Dense(activation="relu", input_dim=63, units=31, kernel_initializer="uniform"))

In [166]:
classifier.add(Dense(activation="relu", units=31, kernel_initializer="uniform"))

In [167]:
classifier.add(Dense(activation="sigmoid", units=1, kernel_initializer="uniform"))

In [168]:
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [169]:
classifier.fit(X_train, y_train, batch_size = 10, epochs = 10)

Epoch 1/10

ValueError: Exception encountered when calling Sequential.call().

Input 0 of layer "dense_7" is incompatible with the layer: expected axis -1 of input shape to have value 63, but received input with shape (None, 62)

Arguments received by Sequential.call():
  • inputs=tf.Tensor(shape=(None, 62), dtype=float32)
  • training=True
  • mask=None

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
y_pred = (y_pred > 0.5)

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)
tn, fp, fn, tp = cm.ravel()
accuracy = (tn + tp) / (tn + tp + fn + fp)
print(accuracy)