In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
df = pd.read_csv("C:/Users/prath/Downloads/US_AQI.csv")

In [4]:
df.shape

(5617325, 15)

In [5]:
df = df[::5]
df.shape

(1123465, 15)

In [6]:
df.head()

,Unnamed: 0,CBSA Code,Date,AQI,Category,Defining Parameter,Number of Sites Reporting,city_ascii,state_id,state_name,lat,lng,population,density,timezone
0,0,10140,2022-01-01,21,Good,PM2.5,2,Aberdeen,WA,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
5,5,10140,2022-01-06,15,Good,PM2.5,2,Aberdeen,WA,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
10,10,10140,2022-01-11,20,Good,PM2.5,2,Aberdeen,WA,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
15,15,10140,2022-01-16,18,Good,PM2.5,2,Aberdeen,WA,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles
20,20,10140,2022-01-21,13,Good,PM2.5,2,Aberdeen,WA,Washington,46.9757,-123.8094,16571.0,588.0,America/Los_Angeles

In [7]:
df.columns

Index(['Unnamed: 0', 'CBSA Code', 'Date', 'AQI', 'Category',
       'Defining Parameter', 'Number of Sites Reporting', 'city_ascii',
       'state_id', 'state_name', 'lat', 'lng', 'population', 'density',
       'timezone'],
      dtype='object')

In [8]:
df.drop(["Unnamed: 0", "CBSA Code", "Category",'city_ascii', "Number of Sites Reporting", "state_id", "timezone"], axis = 1, inplace = True)

In [9]:
df.columns

Index(['Date', 'AQI', 'Defining Parameter', 'state_name', 'lat', 'lng',
       'population', 'density'],
      dtype='object')

In [10]:
import datetime as dt

df['Date'] = pd.to_datetime(df['Date'])
df['Date'] = (df['Date'] - dt.datetime(1970,1,1)).dt.total_seconds()

In [11]:
df = df[['Date', 'Defining Parameter', 'state_name', 'lat',
       'lng', 'population', 'density', "AQI"]]
X = df.iloc[:, 0:7].values
y = df.iloc[:, 7].values
print(pd.DataFrame(X[:10]))
print(pd.DataFrame(y[:10]))

              0      1           2        3         4         5       6
0  1640995200.0  PM2.5  Washington  46.9757 -123.8094   16571.0   588.0
1  1641427200.0  PM2.5  Washington  46.9757 -123.8094   16571.0   588.0
2  1641859200.0  PM2.5  Washington  46.9757 -123.8094   16571.0   588.0
3  1642291200.0  PM2.5  Washington  46.9757 -123.8094   16571.0   588.0
4  1642723200.0  PM2.5  Washington  46.9757 -123.8094   16571.0   588.0
5  1643155200.0  PM2.5  Washington  46.9757 -123.8094   16571.0   588.0
6  1643587200.0  PM2.5  Washington  46.9757 -123.8094   16571.0   588.0
7  1641340800.0  PM2.5        Ohio  41.0798  -81.5219  570375.0  1230.0
8  1641772800.0  PM2.5        Ohio  41.0798  -81.5219  570375.0  1230.0
9  1642204800.0  PM2.5        Ohio  41.0798  -81.5219  570375.0  1230.0
    0
0  21
1  15
2  20
3  18
4  13
5  28
6  18
7  30
8  20
9  17

In [12]:
df.dtypes

Date                  float64
Defining Parameter     object
state_name             object
lat                   float64
lng                   float64
population            float64
density               float64
AQI                     int64
dtype: object

In [13]:
df.dtypes

Date                  float64
Defining Parameter     object
state_name             object
lat                   float64
lng                   float64
population            float64
density               float64
AQI                     int64
dtype: object

In [14]:
df.head()

,Date,Defining Parameter,state_name,lat,lng,population,density,AQI
0,1.640995e+09,PM2.5,Washington,46.9757,-123.8094,16571.0,588.0,21
5,1.641427e+09,PM2.5,Washington,46.9757,-123.8094,16571.0,588.0,15
10,1.641859e+09,PM2.5,Washington,46.9757,-123.8094,16571.0,588.0,20
15,1.642291e+09,PM2.5,Washington,46.9757,-123.8094,16571.0,588.0,18
20,1.642723e+09,PM2.5,Washington,46.9757,-123.8094,16571.0,588.0,13

In [15]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [16]:
print(pd.DataFrame(X[:3]))

              0      1           2        3         4        5      6
0  1640995200.0  PM2.5  Washington  46.9757 -123.8094  16571.0  588.0
1  1641427200.0  PM2.5  Washington  46.9757 -123.8094  16571.0  588.0
2  1641859200.0  PM2.5  Washington  46.9757 -123.8094  16571.0  588.0

In [17]:
ct = ColumnTransformer([("Defining Parameter", OneHotEncoder(), [1])], remainder = 'passthrough', sparse_threshold=0)
X = ct.fit_transform(X)
print(pd.DataFrame(X[:10]))

    0    1    2    3    4             5           6        7         8   \
0  0.0  0.0  0.0  0.0  1.0  1640995200.0  Washington  46.9757 -123.8094
1  0.0  0.0  0.0  0.0  1.0  1641427200.0  Washington  46.9757 -123.8094
2  0.0  0.0  0.0  0.0  1.0  1641859200.0  Washington  46.9757 -123.8094
3  0.0  0.0  0.0  0.0  1.0  1642291200.0  Washington  46.9757 -123.8094
4  0.0  0.0  0.0  0.0  1.0  1642723200.0  Washington  46.9757 -123.8094
5  0.0  0.0  0.0  0.0  1.0  1643155200.0  Washington  46.9757 -123.8094
6  0.0  0.0  0.0  0.0  1.0  1643587200.0  Washington  46.9757 -123.8094
7  0.0  0.0  0.0  0.0  1.0  1641340800.0        Ohio  41.0798  -81.5219
8  0.0  0.0  0.0  0.0  1.0  1641772800.0        Ohio  41.0798  -81.5219
9  0.0  0.0  0.0  0.0  1.0  1642204800.0        Ohio  41.0798  -81.5219

         9       10
0   16571.0   588.0
1   16571.0   588.0
2   16571.0   588.0
3   16571.0   588.0
4   16571.0   588.0
5   16571.0   588.0
6   16571.0   588.0
7  570375.0  1230.0
8  570375.0  1230.0
9  570375.0  1230.0

In [18]:
df.dtypes

Date                  float64
Defining Parameter     object
state_name             object
lat                   float64
lng                   float64
population            float64
density               float64
AQI                     int64
dtype: object

In [35]:
print(X_train.shape)

(898772, 62)

In [19]:
ct = ColumnTransformer([("state_name", OneHotEncoder(), [6])], remainder = 'passthrough', sparse_threshold=0)
X = ct.fit_transform(X)
print(pd.DataFrame(X[:10]))

    0    1    2    3    4    5    6    7    8    9   ...   52   53   54   55  \
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
5  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
6  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
7  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
8  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0
9  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0

    56            57       58        59        60      61
0  1.0  1640995200.0  46.9757 -123.8094   16571.0   588.0
1  1.0  1641427200.0  46.9757 -123.8094   16571.0   588.0
2  1.0  1641859200.0  46.9757 -123.8094   16571.0   588.0
3  1.0  1642291200.0  46.9757 -123.8094   16571.0   588.0
4  1.0  1642723200.0  46.9757 -123.8094   16571.0   588.0
5  1.0  1643155200.0  46.9757 -123.8094   16571.0   588.0
6  1.0  1643587200.0  46.9757 -123.8094   16571.0   588.0
7  1.0  1641340800.0  41.0798  -81.5219  570375.0  1230.0
8  1.0  1641772800.0  41.0798  -81.5219  570375.0  1230.0
9  1.0  1642204800.0  41.0798  -81.5219  570375.0  1230.0

[10 rows x 62 columns]

In [20]:
df.nunique()

Date                  15486
Defining Parameter        5
state_name               52
lat                     670
lng                     671
population              669
density                 534
AQI                     460
dtype: int64

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [22]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [23]:
from tensorflow.keras.models import Sequential # For building the Neural Network layer by layer
from tensorflow.keras.layers import Dense # To randomly initialize the weights to small numbers close to 0(But not 0)

In [24]:
classifier = Sequential()

In [49]:
X_train = X_train.reshape((-1, 62))
X_train = np.asarray(X_train, dtype=np.float32)

In [50]:
print(f"X_train shape: {X_train.shape}")
print(f"y_train shape: {y_train.shape}")

X_train shape: (898772, 62)
y_train shape: (898772,)

In [ ]:
model = Sequential()
model.add(Dense(64, input_shape=(62,), activation='relu')) 
model.add(Dense(1, activation='linear'))

C:\Users\prath\AppData\Roaming\Python\Python311\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [52]:
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mse'])

In [53]:
model.summary()

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_11 (Dense)                │ (None, 64)             │         4,032 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_12 (Dense)                │ (None, 1)              │            65 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 4,097 (16.00 KB)

 Trainable params: 4,097 (16.00 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
print(f"X_train shape: {X_train.shape}")
print(f"Model input shape: {model.input_shape}")
print(f"Model input shape: {model.input_shape}")

X_train shape: (898772, 62)
Model input shape: (None, 62)

In [66]:
model.fit(X_train, y_train, batch_size = 30, epochs = 10)

Epoch 1/10
29960/29960 ━━━━━━━━━━━━━━━━━━━━ 38s 1ms/step - loss: 836.7770 - mse: 836.7770
Epoch 2/10
29960/29960 ━━━━━━━━━━━━━━━━━━━━ 39s 1ms/step - loss: 1362.5509 - mse: 1362.5509
Epoch 3/10
29960/29960 ━━━━━━━━━━━━━━━━━━━━ 40s 1ms/step - loss: 968.2200 - mse: 968.2199
Epoch 4/10
29960/29960 ━━━━━━━━━━━━━━━━━━━━ 40s 1ms/step - loss: 826.3602 - mse: 826.3602
Epoch 5/10
29960/29960 ━━━━━━━━━━━━━━━━━━━━ 38s 1ms/step - loss: 939.8710 - mse: 939.8709
Epoch 6/10
29960/29960 ━━━━━━━━━━━━━━━━━━━━ 42s 1ms/step - loss: 1373.0405 - mse: 1373.0405
Epoch 7/10
29960/29960 ━━━━━━━━━━━━━━━━━━━━ 41s 1ms/step - loss: 927.8677 - mse: 927.8677
Epoch 8/10
29960/29960 ━━━━━━━━━━━━━━━━━━━━ 40s 1ms/step - loss: 1013.4240 - mse: 1013.4240
Epoch 9/10
29960/29960 ━━━━━━━━━━━━━━━━━━━━ 39s 1ms/step - loss: 760.1992 - mse: 760.1992
Epoch 10/10
29960/29960 ━━━━━━━━━━━━━━━━━━━━ 39s 1ms/step - loss: 926.5357 - mse: 926.5357

In [67]:
y_pred = model.predict(X_test)

7022/7022 ━━━━━━━━━━━━━━━━━━━━ 7s 952us/step

In [69]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import numpy as np
import matplotlib.pyplot as plt

loss, mse = model.evaluate(X_test, y_test, verbose=0)
print(f"Mean Squared Error from model.evaluate: {mse}")

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)  
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error (MSE): {mse}")
print(f"Root Mean Squared Error (RMSE): {rmse}")
print(f"Mean Absolute Error (MAE): {mae}")
print(f"R² Score: {r2}")

Mean Squared Error from model.evaluate: 1011.3938598632812
Mean Squared Error (MSE): 1011.3975638963086
Root Mean Squared Error (RMSE): 31.802477323257516
Mean Absolute Error (MAE): 16.697921672575774
R² Score: 0.21631485223770142